<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5"></div>       
<h1>Привет, я автор</h1>
<p>
  Тут я размещу информацию о себе, используя свои умения верстать. Кто я такой?
</p>
<p>
  <li>
  Меня зовут Рома.
  </li>
  <li>
    Мне 22 года.
  </li>
  <li>
    Изучаю питон чуть больше полугода.
  </li>
  <li>
    С джанго знаком не больше месяца.
  </li>
  <li>
    Меня всё устраивает.
  </li>
{% endblock %}