{% extends 'base.html' %}

{% block title %}
  Группа {{ group }}
{% endblock %}

{% block content %}
 <div class='container py-5'>
  <h1>{{ group.title }}</h1>
  <h4> {{ group.description|linebreaks }} </h4>
  {% for post in page_obj %}
    <ul>
      <li>
        Автор: 
        <a href="{% url 'posts:profile' post.author.username %}">
          {{ post.author.get_full_name }}
        </a>
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
 
{% endblock %}